<div class='jumbotron'> 
  <h1>Dashboard com os  índices financeiros</h1>
  <p>Espaço para amostra dos príncipais índices financeiros</p>
</div>

<% if @cdi %>
  <p>taxa di: <%= format('%.2f', @cdi.taxa_di) %></p>
<% else %>
  <p>não existe taxa cadastrada.</p>
<% end %>

