<table cellspacing="0">
  <tr>
    <th>data</th>
    <th>% Di</th>
  </tr>
<% for indice in @indices  %>
  <tr>
    <td><%= indice.data %></td>
    <td><%= indice.taxa_di %></td>
  </tr>
<% end %>
</table>
