<div class="col-sm-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Taxa DI</h3>      
    </div>
    <div class="panel-body" style="font-size: 16px;">
      <% if @cdi %>
        <p>Taxa DI: <%= format('%.2f', @cdi.taxa_di) %>%</p>
        <%= link_to 'mais informações', indice_cdi_index_path, form_class: 'btn btn-primary' %>
      <% else %>
        <p>não existe taxa cadastrada.</p>
      <% end %>
    </div>
  </div>

